<!doctype html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Base{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="{{ url_for('static', path='/css/base.css') }}"
      rel="stylesheet"
    />
  </head>
  {% endblock %}
  <body>
    <header class="flex items-center py-2 border-b-2 border-black">
      <div class="flex-1"></div>
      <div class="items-center justify-center text-l flex gap-24">
        <a href="{{request.url_for('dashboardPage')}}">dashboard</a>
        <a></a>
      </div>
      <div class="flex justify-end flex-1">
        <div
          class="pr-5 text-xs bg-neutral-primary-soft block max-w-sm p-3 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium"
        >
          {% if user %} {{user.username}} <br />
          {{user.full_name}} <br />
          {{user.clearance_level}} {% else %}
          <p>Guest</p>
          <a href="{{request.url_for('login')}}">login</a>
          {% endif %}
        </div>
      </div>
    </header>
    {# Flash Message #} {% for message in getFlashedMessages(request) %}
    <div class="{{ message.category }}">
      {{ message.message}}
      <button onclick="this.closest('div').remove()">ok</button>
    </div>
    {% endfor %} {# Flash Ends #}
    <main class="p-4">{% block content %} {% endblock %}</main>

    <footer
      class="w-full items-center flex flex-col mt-auto fixed bottom-0 py-4"
    >
      <div class="justify-center items-center flex">
        <p>Footer Content</p>
      </div>
    </footer>
  </body>
</html>
