{% extends "base.html" %} 
{% block title %} {{ wallet.wallet_name }} info {% endblock %} 
{% block content %}
<div class="flex items-center">
    <table id="general info"class="border-black border-2 mx-6">
        <caption>Basic Info</caption>
        <tr class="border border-black">
            <th>ID</th>
            <td>{{ wallet.id }}</td>
        </tr>
        <tr class="border border-black">
            <th>name</th>
            <td>{{ wallet.wallet_name }}</td>
        </tr>
        <tr class="border border-black">
            <th>
                description
            </th>
            <td>{{ wallet.description }}</td>
        </tr>
        <tr class="border border-black">
            <th>
                type
            </th>
            <td>
                {{ wallet.wallet_type }}
            </td>
        </tr>
        <tr class="border border-black">
            <th>
                creator
            </th>   
            <td>
                {{ wallet.created_by }}
            </td>
        </tr>
        <tr class="border border-black">
            <th>
                time created
            </th>
            <td>
                {{ wallet.created_at }}
            </td>
        </tr>
    </table>
    <div class="border-black border-2 p-4">
        <h2>Current Available Funds</h2>
        {{ total_income - total_expense }}
    </div>
</div>
<div id="ledger" class="border-2 border-black my-4 mx-6 flex">
    <table class="mx-2 border-separate border-spacing-x-10 items-center">
        <tr class="bg-emerald-200">
            <th>id</th><th>tx name</th><th>description</th><th>amount</th><th>tx type</th><th>time</th>
        </tr>
        {% for transaction in ledger %}
            <tr>
                <td>
                    {{ transaction.id }}
                </td>   
                <td>
                    {{ transaction.tx_name }}
                </td>
                <td>
                    {{ transaction.description or '' }}
                </td>
                <td>
                    {{ transaction.amount }}
                </td>
                <td>
                    {{ transaction.tx_type }}
                </td>
                <td>
                    {{ transaction.created_at }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}