{% extends "base.html" %} 
{% block title %} {{ wallet.wallet_name }} info {% endblock %} 
{% block content %}
<div>
    <table class="border-black border-2">
        <tr class="border border-black">
            <th>
                ID
            </th>
            <th>
                Name 
            </th>
            <th>
                Description 
            </th>
            <th>
                created at
            </th>
            <th>
                creator
            </th>
        </tr>
        <tr>
            <td>
                {{ wallet.id }}
            </td>
            <td>
                {{ wallet.wallet_name }}
            </td>
            <td>
                {{ wallet.description }}
            </td>
            <td>
                {{ wallet.created_at }}
            </td>
            <td>
                {{ wallet.created_by }}
            </td>
        </tr>
    </table>
</div>
{% endblock %}